/** header part **/
header {
  margin: 0 0 0.5em 0;
}

header div {
  width: 640px;
}

header div:nth-child(1) {
  display: flex;
}

header div:nth-child(2) {
  text-align: right;
}

#url {
  flex: 1 1 auto;
  align-self: flex-start;
  margin-right: 0.5em;
}

header div label {
  font-size: 0.6em;
}

/** main part **/
main iframe {
  width: 640px;
  height: 360px;
}